// ============= GENERAL CSS ==============
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    color: #FFF;
    font-family: 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 1rem 0;
}

// ============= MAIN LAYOUT ==============
.app {
    display: grid;
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-columns: 20% 1fr;
    height: 100vh;
}

.header,
.footer {
    font-size: .75rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #a0a0a0;
}

.header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    padding: 0 2rem;
    border-bottom: 1px solid #a0a0a0;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
    padding: 0 2rem;
    border-top: 1px solid #a0a0a0;
}

p {
    margin-right: 1rem;
}

a {
    color: #FFF;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.footer__more {
    display: none;
    margin-left: auto;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .footer__more {
        display: block;
    }
}